<%- include("partials/header") %>

<div class="ui main text container segment">	
	<form action="/blogs" method="POST">
		<div class="ui form">
			<div class="field" >
			<label>Blog Title</label>
			<input type="text" name="blog[title]">
			</div>
		</div>
		<div class="ui form">
			<div class="field" >
			<label>Image url</label>
			<input type="text" name="blog[image]">
			</div>
		</div>
		<div class="ui form">
			<div class="field">
				<label>Text</label>
			<textarea name="blog[body]"></textarea>
		</div>
		</div>
		<button class="ui basic button" type="submit">
			Save
		</button>
	</form>
</div>

<%- include("partials/footer") %>