<%- include("partials/header") %>
<div class="container d-flex">
	<div class="h-100 justify-content-center align-items-center m-auto">
		<h1>
		Welcome to YelpCamp!
		</h1>

		<a href="/campgrounds"><button class="bt-sm">View campgrounds
	</button></a>
	</div>
	
</div>


<%- include("partials/footer") %>